
<ion-content [ngStyle]="{'background-image': 'url(' + backgroundImage +')'}" no-bounce overflow-scroll="false">
  <div class="login-container">
    <img class="logo" src="assets/images/logo_4.png" />
    
    <!--*********** Form ***********-->
    <form [formGroup]="loginForm" (submit)="login()" novalidate>
      <ion-item no-padding>
        <ion-label floating>Email</ion-label>
        <ion-input tappable color="primary" #email type="email" formControlName="email" [class.invalid]="!loginForm.controls.email.valid &&loginForm.controls.email.dirty">
        </ion-input>
        <p *ngIf="!loginForm.controls.email.valid  &&
        loginForm.controls.email.dirty">*Please enter a valid email.</p>
      </ion-item>

      <ion-item no-padding>
        <ion-label floating>Password</ion-label>
        <ion-input tappable #password type="password" formControlName="password" [class.invalid]="!loginForm.controls.password.valid &&loginForm.controls.password.dirty">
        </ion-input>
        <p *ngIf="!loginForm.controls.password.valid  &&
        loginForm.controls.password.dirty">*Password needs more than 6 characters.</p>
      </ion-item>

      

      <div class="submit-box">
        <button ion-button block type="submit" color="primary">LOG IN</button>
        
        <button ion-button type="button" block icon-left color="primary" (click)="register()" margin-top>
           <ion-icon name="ios-create"></ion-icon> CREATE NEW ACCOUNT
        </button>
      </div>
    </form>
  </div>

</ion-content>
<ion-footer>
  <button class="bottom" ion-button  type="button"  clear full color="light" (click)="passwordreset()">Forgot Your Password? </button>
</ion-footer>
