<!-- Themes Products + CTA header -->
<ion-content no-bounce overflow-scroll="false">
  <ion-grid no-padding>
    <ion-row padding background-size container-hearder-image [ngStyle]="{'background-image': 'url(assets/images/gift_bg.jpg)'}">
      <ion-col col-6 col-sm-6 col-md-6 col-lg-6 col-xl-6 text-left>
        <h1 header-title>Items</h1>
      </ion-col>
      <ion-col col-6 col-sm-6 col-md-6 col-lg-6 col-xl-6 text-right>
        <span span-large></span>
      </ion-col>
    </ion-row>
    <!--Content-->
    <ion-row no-padding>
      <ion-col col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12>
        <ion-list>
          <ion-item no-padding no-lines *ngFor="let data of listItemRef$ | async; let i = index;" (click)="openItem(data.$key)">
            <ion-thumbnail item-start no-margin>
              <img src="{{data.image}}">
            </ion-thumbnail>
            <div item-top>
              <h2 item-title padding-left text-wrap>{{data.name}}</h2>
              <h3 item-subtitle padding-left text-wrap>{{data.description}}</h3>
            </div>
            <div item-bottom>
              <h2 item-title left padding-left>{{data.seller}}</h2>
              <ion-icon padding-top left *ngFor="let item of getRanking(data.rank)">
                <ion-icon icon-small name="star">
                </ion-icon>
              </ion-icon>

              <div span-medium right text-right>$ {{data.price}}</div>

            </div>
          </ion-item>
        </ion-list>
      </ion-col>
    </ion-row>
  </ion-grid>
  <!-- Fab Button -->
  <ion-fab bottom right #fab>
    <button ion-fab (click)="manualAddItem(fab)">
      <ion-icon name="add"></ion-icon>
    </button>
  </ion-fab>

</ion-content>
