<ion-header>
  <ion-navbar>
    <ion-title text-align='center'>{{list.name}}</ion-title>
    <ion-buttons end>
      <button ion-button icon-only color="red" (click)="delete()">
        <ion-icon name="trash"></ion-icon>
      </button>
    </ion-buttons>
  </ion-navbar>
</ion-header>
<ion-content no-bounce overflow-scroll="false">
  <ion-grid no-padding>
    <ion-row padding background-size container-header-image [ngStyle]="{'background-image': 'url(' + image + ')'}">
    </ion-row>
    <!--Content-->
    <ion-row no-padding>

      <ion-col col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12>
        <ion-list>
          <ion-item no-padding no-lines *ngFor="let data of listItemRef$ | async; let i = index;" (click)="goToItem(data, data.$key)">
            <ion-thumbnail item-start no-margin>
              <img src="{{data.image}}">
            </ion-thumbnail>
            <div item-top>
              <h2 item-title padding-left item-text-wrap>{{data.name}}</h2>
              <h3 item-subtitle left padding-left>Sold By: {{data.seller}}</h3>
            </div>
            <div item-bottom>
              <ion-icon left no-padding *ngFor="let item of getRanking(data.rank)">
                <ion-icon icon-small name="star">
                </ion-icon>
              </ion-icon>
              <div span-medium right text-right>{{data.price | currency:'$'}}</div>

            </div>
          </ion-item>
        </ion-list>
      </ion-col>
    </ion-row>
  </ion-grid>
  <!-- Fab Button -->
  <ion-fab bottom right #fab>
    <button icon-only ion-fab>
      <ion-icon name="more"> </ion-icon>
    </button>
    <ion-fab-list side="top">
      <button ion-fab (click)="manualAddItem(fab)">
        <ion-icon name="add"></ion-icon>
      </button>
      <button ion-fab (click)="shop(fab)">
        <ion-icon name="search"></ion-icon>
      </button>
      <button ion-fab (click)="scan(fab)">
        <ion-icon name="barcode"></ion-icon>
      </button>
    </ion-fab-list>
    <ion-fab-list side="left">
      <button ion-fab (click)="regularShare()">
        <ion-icon name="md-share"></ion-icon>
      </button>
      <button ion-fab (click)="share()">
        <ion-icon name="people"></ion-icon>
      </button>
    </ion-fab-list>
  </ion-fab>

</ion-content>
