<ion-content [ngStyle]="{'background-image': 'url(' + backgroundImage +')'}" no-bounce overflow-scroll="false">
  <div class="login-container">
    <img class="logo" src="assets/images/logo_4.png" />
    <!--*********** Form ***********-->

    <form [formGroup]="registerForm" (submit)="register()" novalidate>
      
        <p *ngIf="!registerForm.controls.username.valid  &&
                        registerForm.controls.username.dirty">*Please Enter UserName.</p>
        <p *ngIf="!registerForm.controls.email.valid  &&
                        registerForm.controls.email.dirty">*Please Enter A Valid Email Address.</p>
        <p *ngIf="!registerForm.controls.password.valid  &&
          registerForm.controls.password.dirty">*Password Must Contain At Least 6 Characters.</p>
     
      <ion-item>
        <ion-label floating>USERNAME</ion-label>
        <ion-input tappable formControlName="username" type="text" [class.invalid]="!registerForm.controls.username.valid && registerForm.controls.username.dirty"></ion-input>
      </ion-item>

      <ion-item>
        <ion-label floating>EMAIL</ion-label>
        <ion-input tappable formControlName="email" type="email" [class.invalid]="!registerForm.controls.email.valid && registerForm.controls.email.dirty"></ion-input>
      </ion-item>

      <ion-item>
        <ion-label floating>FIRST NAME</ion-label>
        <ion-input tappable formControlName="firstName" type="text" [class.invalid]="!registerForm.controls.firstName.valid && registerForm.controls.firstName.dirty"></ion-input>
      </ion-item>

      <ion-item>
        <ion-label floating>LAST NAME</ion-label>
        <ion-input tappable formControlName="lastName" type="text" [class.invalid]="!registerForm.controls.lastName.valid && registerForm.controls.lastName.dirty"></ion-input>
      </ion-item>

      <ion-item>
        <ion-label floating>PASSWORD</ion-label>
        <ion-input tappable formControlName="password" type="password" [class.invalid]="!registerForm.controls.password.valid && registerForm.controls.password.dirty"></ion-input>
      </ion-item>

      <button ion-button block type="submit" color="primary">
        Create an Account
      </button>
    </form>
  </div>
</ion-content>
<ion-footer color="blue2">
  <button class="bottom" ion-button type="button" clear full color="light" (click)="goBack()">Already Have an Account?</button>
</ion-footer>
