page-lists {

  .default-background {
    background-image: url('../assets/images/bg_purple.jpg');
    height: 100%;
    width: 100%;
    display: table;
  }
    [background-size] {
        height: 150px;
        @include darkening-blend-mode;
      }
      [item-title], [item-subtitle] {
        color: theme-colors('mainColors', 'accent') !important;
        position: relative;
        z-index: 5;
      }
      ion-item-options {
        border-bottom: 1px solid theme-colors('mainColors', 'secondary') !important;
      }
}
