page-profile {
  [background-size] {
    height: 200px;
    position: relative;
    @include darkening-blend-mode;
}
ion-thumbnail img {
    border-radius: 50%;
    margin: 0 auto;
    margin-bottom: 10px;
    z-index: 5;
    position: relative;
}
.title {
    display: table-cell;
    text-align: center;
    vertical-align: bottom;
    
    [parallax-title] {
        position: relative;
        z-index: 9;
        margin-top: 0;
        margin: 0 55px;
    }
    [parallax-subtitle] {
        margin-bottom: 0;
        position: relative;
        z-index: 9;
        margin: 0 55px;
    }
}
}
