page-shop {
    [background-size] {
        padding-top: 50px;
        height: 160px;
        @include darkening-blend-mode;
      }
    
      .item-inner {
        margin-left: 5px !important;
      }
}
