<ion-header>
  <ion-navbar>
    <ion-title color="light">Shopping</ion-title>
  </ion-navbar>
  <ion-toolbar>
    <ion-searchbar [(ngModel)]="searchTerm" [formControl]="searchControl" (ionInput)="onSearchInput()"></ion-searchbar>
  </ion-toolbar>
</ion-header>
<ion-content>
  <ion-grid>
    <ion-row wrap>
      <ion-col tappable col-6 *ngFor="let item of items" (click)="openDetails(item)">
        <ion-card class="cardList">

          <img class="pop-in" src={{item.mediumImage}}/>
          <ion-card-header>
            {{item.name}}
          </ion-card-header>
          <ion-card-content>
            <p *ngIf="item.salePrice" ion-text large color="red">
              <strong>{{item.salePrice | currency:'$'}}</strong>
            </p>
          </ion-card-content>
        </ion-card>
      </ion-col>
    </ion-row>
  </ion-grid>
  <ion-infinite-scroll (ionInfinite)="loadMore($event)" loadingSpinner="bubbles" loadingText="Loading Users...">
      <ion-infinite-scroll-content></ion-infinite-scroll-content>
    </ion-infinite-scroll>
</ion-content>
