page-welcome {
  video {
    position: fixed;
    top: 50%;
    left: 50%;
    min-width: 100%;
    min-height: 100%;
    width: auto;
    height: auto;
    z-index: -100;
    transform: translateX(-50%) translateY(-50%);
}

      img {
        max-width: 250px;
        max-height: 200px;
        margin: 35px auto 20px;
      }
      
}
