page-welcome {
  ion-content {
    background-repeat: no-repeat;
    border-color: transparent;
    background-position: center;
    background-size: cover;
  }
  .default-background {
    height: 100%;
    width: 100%;
    display: table;
    
      img {
		size: 75%;
		padding: 2%;
      }
	
	h2[item-title] {
		
		margin: 0;
		color: theme-colors('mainColors', 'primary') !important;
	  }
  }
}
