<ion-header color="primary">
  <ion-navbar>
    <ion-title>More Information</ion-title>
  </ion-navbar>
</ion-header>

<ion-content no-bounce overflow-scroll="false">

  <ion-list no-lines>
    <img [src]=item.largeImage>
    <ion-item text-center no-padding text-wrap>{{ item.name }}</ion-item>

    <ion-item *ngIf="item.shortDescription" text-center no-padding text-wrap>
      DESCRIPTION: {{ item.shortDescription }}
    </ion-item>
    <ion-item no-padding> 
      <ion-icon name='pricetag' item-start style="color: #30e920"></ion-icon>
      Sale Price: {{ item.salePrice | currency:'$'}}
    </ion-item>

    <ion-item text-center no-padding>
      <p>Rank Item! 5 Stars Being Most Wanted"</p>
          <ion-icon text-center primary *ngFor="let item of data.iconStars; let i = index" (click)="onStarClass(data.iconStars, i, $event)">
            <i icon-medium *ngIf="item.isActive" class="icon {{item.iconActive}}"></i>
            <i icon-medium *ngIf="!item.isActive" class="icon {{item.iconInactive}}"></i>
          </ion-icon>
        </ion-item>

    <ion-item>
      <ion-label> Choose List</ion-label>
      <ion-select [(ngModel)]='item.listshared' interface="popover">
        <ion-option *ngFor="let list of lists | async;" value="{{ list.$key }}">{{ list.name }}</ion-option>
      </ion-select>
    </ion-item>

    <button ion-button block outline (click)="addToList(item)">
      ADD TO LIST
    </button>
  </ion-list>
</ion-content>
